// Main entry point for Kyber WASM modules
export { Kyber512 } from './kyber512.js';
export { Kyber768 } from './kyber768.js';
export { Kyber1024 } from './kyber1024.js';

// Default export with all classes
import { Kyber512 } from './kyber512.js';
import { Kyber768 } from './kyber768.js';
import { Kyber1024 } from './kyber1024.js';

export default {
  Kyber512,
  Kyber768,
  Kyber1024
};
